:root {
    --backgrondColor: #32363bff;
    --white: #e6e6e6ff;
    --blue: #299fc8ff;
    --dark: #2d2d2dff;
    --pink: #db6bc2ff;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: var(--backgrondColor);
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    position: relative;
}

body,
a {
    color: var(--white);
}

a {
    text-decoration: none;
}

h1 {
    font-size: 4.5rem;
    margin-top: 0;
}

@media(min-width:1024px) {
    h1 {
        font-size: 3.5rem;
    }
}

h2 {
    font-size: 3rem;
    text-align: center;
}

@media(min-width:1024px) {
    h2 {
        text-align: left;
    }
}

h3 {
    text-align: center;
}

figure {
    margin: 0;
}

img {
    width: 100%;
}

ul {
    list-style: none;
    padding-inline-start: 0;
}

.container {
    max-width: 96rem;
    margin: 0 auto;
}

.Main-container {
    display: flex;
    margin-top: 3rem;
    flex-direction: column;
}

@media(min-width:1024px) {
    .Main-container {
        flex-direction: row;
    }
}


/**Header**/

.Header {
    flex: 0 0 33.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile_picture {
    width: 15rem;
    border-radius: 50%;
    overflow: hidden;
}

@media(min-width:1024px) {
    .profile_picture {
        width: 21.4rem;
    }
}

.Nav {
    display: none;
}

@media(min-width:1024px) {
    .Nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 2.49rem;
        position: relative;
        width: 100%;
    }
}

.nav-background {
    background-color: var(--dark);
    border-radius: 2rem;
    width: 100%;
    height: 36.6rem;
    position: absolute;
    z-index: -3;
}

.nav-ul {
    padding: 0 4rem;
}

.nav-ul li {
    margin: 2rem 0;
    position: relative;
    display: flex;
    flex-direction: column;
}

.nav-link-line {
    background-color: var(--white);
    width: 50%;
    height: .5rem;
    margin-top: .5rem;
    border-radius: .3rem;
    transition: width .5s ease-in-out;
}

.nav-ul li:hover .nav-link-line {
    width: 100%;
}


/**Mobil-menu**/

.Mobile-menu {
    position: fixed;
    width: 100%;
    background-color: var(--dark);
    padding: 1rem;
    bottom: 0;
    z-index: 3;
}

@media(min-width:1024px) {
    .Mobile-menu {
        display: none;
    }
}

.Mobile-menu nav {
    display: flex;
    justify-content: center;
}

.Mobile-menu nav a {
    margin-right: 1rem;
}

.Mobile-menu nav a:last-of-type {
    margin-right: 0;
}

.Mobile-menu i {
    font-size: 2.8rem;
}


/**section**/

.section-inicio,
.section-portafolio,
.section-project,
.section-sobre-mi {
    margin: 0 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 65vh;
}

@media(min-width:1024px) {
    .section-inicio,
    .section-portafolio,
    .section-project,
    .section-sobre-mi {
        margin-left: 4rem;
        min-height: 90vh;
    }
}


/**section-inicio**/

.section-inicio {
    min-height: 100%;
}

.section-inicio h2 {
    font-size: 4.3rem;
    margin: 3.5rem 0 1rem 0;
}

@media(min-width:1024px) {
    .section-inicio h2 {
        font-size: 6.5rem;
    }
}

.section-inicio h3 {
    margin: 0;
}

@media(min-width:1024px) {
    .section-inicio h3 {
        text-align: left;
        font-size: 3.3rem;
    }
}

.section-inicio nav {
    display: flex;
    justify-content: center;
    margin-top: 3.5rem;
}

@media(min-width:1024px) {
    .section-inicio nav {
        justify-content: start;
    }
}

.section-inicio nav>a {
    margin-right: 1rem;
}

.section-inicio nav>a:last-of-type {
    margin-right: 0;
}

.section-inicio i {
    font-size: 4.5rem;
}

@media(min-width:1024px) {
    .section-inicio i {
        font-size: 5.5rem;
    }
}

.curly-brace {
    color: var(--pink);
}

.curly-brace:first-of-type {
    display: block;
    margin-bottom: 1rem;
}

.curly-brace:last-of-type {
    display: block;
    margin-top: 1.8rem;
    margin: 1.8rem 0 6rem 0;
}

.curly-brace-content-row {
    line-height: 2;
}

.key-blue {
    color: var(--blue);
}

.value-white {
    margin-left: 1rem;
}


/**section-portafolio**/

@media(min-width:1024px) {
    .portfolio-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
    }
}

.portfolio-grid article {
    margin: 1.5rem 0;
}

@media(min-width:1024px) {
    .portfolio-grid article {
        margin: .5rem 0;
    }
}

@media(min-width:1024px) {
    .project {
        position: relative;
        overflow: hidden;
        border-radius: .2rem;
    }
    .project img {
        transition: all .4s ease;
    }
}

@media(min-width:1024px) {
    .project:hover img {
        transform: scale(1.2);
    }
}

.project figcaption {
    display: flex;
    justify-content: center;
    top: 33rem;
    font-size: 3.1rem;
}

@media(min-width:1024px) {
    .project figcaption {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 2.5rem 0;
        background-color: rgba(50, 54, 59, 0.925);
        top: 13rem;
        font-size: 2rem;
        transition: all .6s ease;
    }
}

@media(min-width:1024px) {
    .project:hover figcaption {
        top: 5rem;
    }
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem 0 6rem 0;
}

@media(min-width:1024px) {
    .pagination {
        margin: .5rem 0 0 0;
    }
}

.pagination a {
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark);
    margin-right: .7rem;
    cursor: pointer;
    padding: .7rem 1.2rem;
}

.pagination a:last-of-type {
    margin-right: 0;
}

.pagination span {
    margin-right: .7rem;
}

.pagination a i {
    color: white;
    font-size: 2.5rem;
}


/**section-project**/

.section-project span a {
    margin-right: 1.6rem;
}

.section-project span a:last-of-type {
    margin-right: 0;
}

.section-project i {
    font-size: 2.8rem;
}

.project-gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section-project figure {
    margin-top: 1.6rem;
    flex: 0 0 calc(50% - 1.6rem);
}


/**animation-entry**/

.entry {
    animation: entry .7s;
}

.entry-3s {
    animation: entry .3s;
}

@keyframes entry {
    from {
        opacity: 0;
        transform: translateY(-2rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}